@import 'variables.scss';

input {
  -moz-appearance: textfield;
  text-align: center;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  font-weight: inherit;
  box-shadow: none;
  width: 23%;
}

select {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
  margin: 0 3%;
  border: none;
  outline: none;
  text-align-last:center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.time {
  text-align: center;
  box-sizing: border-box;
  color: $text-color;
  font-family: $font-family;
  padding: 10px 23px;
  font-size: 23px;
  background-color: transparent;
  border: 3px solid $text-color;
  border-radius: 30px;
  width: 100%;
  margin-top: 2%;
  font-weight: 500;

  select {
    color: $text-color;
  }
}

.time::placeholder {
  color: $text-color;
}

.time.choose {
  border-color: $main-color;
  color: $main-color;
  pointer-events: none;

  select {
    color: $main-color;
  }
}

.name {
  padding-left: 8%;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: transparentize($text-color, 0.15);
}

.unit {
  float: right;
  padding-right: 8%;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: transparentize($text-color, 0.15);
}
