@import '../styles.scss';

/* Main frame */
.container {
  padding: 5% 10%;
}

/* Flex box */
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex-item {
  width: 100%;
}

/* Toolbar */
.toolbar {
  background-color: $main-color;
  color: $background-color;
}

.inputs-frame {

  .flex-item {
    margin-bottom: 11%;
  }

}

.radios-frame {
  
  margin-top: 14%;
  
  .flex-item {
  }
}

/* Radio */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio input:checked~label {
  color: $main-color;
}

.radio {
  text-align: center;
}

.radio label:hover {
  color: transparentize($main-color, 0.2);
}

.radio label {
  font-size: 23px;
  font-weight: 500;
}
