<mat-toolbar class="toolbar">
  <h1>BrainRest</h1>
</mat-toolbar>

<div class="container">

  <form>
    <div class="input-group">
      <span for="distance" class="name">DISTANCE</span>
      <span for="distance" class="unit">KM</span>
      <input type="number" name="distance" [ngClass]="{choose: choice == 'distance'}" [(ngModel)]="distance" step="0.1"
        min="0" max="9999" placeholder="--">
    </div>

    <div class="input-group">
      <span for="time" class="name">TIME</span>
      <span for="time" class="unit">HH:MM:SS</span>
      <input type="time" name="time" [ngClass]="{choose: choice == 'time'}" [(ngModel)]="time" step="1">
    </div>

    <div class="input-group">
      <span for="speed" class="name">SPEED</span>
      <span for="speed" class="unit">KM</span>
      <input type="number" name="speed" [ngClass]="{choose: choice == 'speed'}" [(ngModel)]="speed" step="0.1" (change)="pace = decimalToMs(1 / speed * 60)"
        min="0" max="9999" placeholder="--" />
    </div>

    <div class="input-group">
      <span for="pace" class="name">PACE</span>
      <span for="pace" class="unit">MM:SS</span>
      <input type="time" name="pace" [ngClass]="{choose: choice == 'speed'}" [(ngModel)]="pace" step="60" (change)="speed = round(1 / (msToDecimal(pace) / 60))" />
    </div>

    <div class="input-group">
      <div class="radio">
        <input id="distance" type="radio" [(ngModel)]="choice" value="distance" name="choice" />
        <label for="distance" class="radio"><i class="material-icons">settings_ethernet</i>DISTANCE</label>
      </div>

      <div class="radio">
        <input id="time" type="radio" [(ngModel)]="choice" value="time" name="choice" />
        <label for="time" class="radio"><i class="material-icons">timer</i>TIME</label>
      </div>

      <div class="radio">
        <input id="speed" type="radio" [(ngModel)]="choice" value="speed" name="choice" />
        <label for="speed" class="radio"><i class="material-icons">flash_on</i>SPEED/PACE</label>
      </div>

    </div>
  </form>

</div>
