@import '../variables.scss';

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

/* Main frame */
.container {
  margin: 4% 7% 3% 7%;
  flex-direction: column;

  @media screen and (min-width: $break-small) {
    margin: 4%;
    flex-direction: row;
  }

}

/* Toolbar */
header {
  padding: 21px 7%;
  background-color: $main-color;
  color: $background-color;

  img {
    width: 20px;
  }

  h1 {
    margin: 0 1%;
    font-size: 23px;
    display: inline-block;
  }
}

/* Flex box */
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-item {
  width: 100%;
}

/* Section */
.section {

  @media screen and (min-width: $break-small) {
    padding: 2% 5%;
  }

  .title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: transparentize($text-color, 0.15);
  }

}

.inputs-frame {

  flex-direction: column;

  .flex-item {
    margin-bottom: 11%;
  }

}

.radios-frame {

  flex-direction: row;
  margin-top: 7%;

  .flex-item {}
}

/* Radio */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio input:checked~label {
  color: $main-color;
}

.radio input:checked~label::after {
  content: '•';
  display: block;
}

.radio {
  text-align: center;
}

.radio label:hover {
  color: transparentize($main-color, 0.2);
}

.radio label {
  font-size: 23px;
  font-weight: 500;
}
