@import '../styles.scss';

.container {
  padding: 5% 10%;
}

.toolbar {
  background-color: $main-color;
  color: $background-color;
}

/* Radio */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio input:checked ~ label {
  color: $main-color;
}

.radio label:hover {
  color: transparentize($main-color, 0.4);
}

.radio label {
  font-size: 23px;
  font-weight: 500;
}

// Flex

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;

}

.flex-item {
  // width: 100%;
}